<div id="app">
  <div id="menu-bar"></div>
  <div id="recommendations"></div>
</div>
  <!--{{#if user}}
    <h2>Welcome: {{user.local.email}}</h2>
    <a href="/profile">Profile</a>
  {{else}}
   <a href="/login">Login</a>
  {{/if}}-->
  <script type="text/template" id="menu-template" charset="utf-8">
  <% if (user != 'no user') { %>
    <h2>Welcome: <%- user.local.email%></h2>
<% } %>
  <% if (user == 'no user') { %>
   <a href="/login">Login</a>
<% } %>
  
  </script>

<script type='text/template' id='recommendations-template'>
  <h2>Recommendations</h2>
  <h3> <%= recomm[0][1] %> </h3>
</script>  

<script type='text/template' id='movie-full-template'>
  <h3> <%= movie.get('Title') %> </h3>
  <h5> <%= movie.get('Year') %> </h3>
  <img class='movie--full' src='<%= movie.get("Poster") %>' alt=''/>
</script>  
<script type="text/template" id="login-template" charset="utf-8">
  <div>
    <h1>Login</h1>
    {{#if message}}
      <div>{{message}}</div>
    {{/if}}
    <form action="/login" method="post" accept-charset="utf-8">
      <div>
        <label for="">Email</label>
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div>
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <button type="submit">Login</button>

    </form>
    <hr />

    <h3> Need an account? </h3>
    <a href="/#signup">Signup</a>
  </div> 
</script>

<script type="text/template" id="signup-template" charset="utf-8">
  <div class="container">
    <div class="col-sm-6.col-sm-offset-3">
      <h1>
        <span class="fa fa-sign-in"></span>
        Signup
      </h1>
      {{#if message}} 
        <div class="alert alert-danger"> {{message}}</div>
      {{/if}}
      <form action="/signup" method="post" accept-charset="utf-8">
        <div class="form-group">
          <label for="">Email</label>
          <input id="email" type="email" name="email" />
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input id="password" type="password" name="password" />
        </div>
        <button id="signup-btn" class="btn btn-success btn-large"> Signup</button>

      </form>
      <hr />
      <p>Already have an account?
        <a href="/#login">Login</a>
      </p>
    </div>
  </div>   
</script>
<script type="text/template" id="profile-template" charset="utf-8">
  <div>
    <div>
      <h1>Profile page</h1>
      <a href="/logout"> Logout</a>
    </div>
    <div>
      <h3>Local</h3>
      <p><strong> ID: </strong> <%- _id %></p>
      <p><strong> Email: </strong><%- local.email %></p>
      <p><strong> Critics: </strong> {{critics}}</p>
    </div>
  </div>  
</script>
