<main class="layout layout--huge">
  <div class="layout__item u-1/4-lap-and-up">
    <h1>{{title }}</h1>
    <p>Welcome to {{title }}</p>
  </div>

  <div class="layout__item u-1/4-lap-and-up">
    <h1>{{title }}</h1>
    <p>Welcome to {{title }}</p>
  </div>

  <div class="layout__item u-1/4-lap-and-up">
    <h1>{{title }}</h1>
    <p>Welcome to {{title }}</p>
  </div>

  <div class="layout__item u-1/4-lap-and-up">
    <h1>{{title }}</h1>
    <p>Welcome to {{title }}</p>
  </div>
</main>
